body    {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.jumbotron  {
    background-image: url("../images/train_sketch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}