body    {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif
}

.jumbotron  {
    text-align: center;
    background-image: url("../images/sunrail.jpg");
    background-size: cover;
}